body{
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    background-color: transparent;
    padding: .5rem;
    color: #fff;

    .form-group, .form-check{
        margin-left: 20px;
    }
}

#renderCanvas{
    height: 100% !important;
    width: 100% !important;
    touch-action: none;
}
